<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link href="{% static 'polls/style2.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Loading Bootstrap -->
    <link href="{% static 'dist/css/vendor/bootstrap.min.css' %} " rel="stylesheet" type="text/css"/>

    <!-- Loading Flat UI -->
    <link href="{% static 'dist/css/flat-ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'docs/assets/css/demo.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="{% static 'dist/favicon.ico' %}" type="text/css"/>
</head>


<body>

<h1>{{ trade.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{#<form action="{% url 'polls:vote' question.id %}" method="post">#}
{% csrf_token %}
{% for choice in trade.wonlist_set.all %}
    <a class="btn btn-primary btn-large btn-block" href="{{ choice.url }} ">{{ choice.title }}</a>
{% endfor %}
{#<input type="submit" value="Vote"/>#}
{#</form>#}
</body>
</html>