{% load static %}
{% include 'header.html' %}
<!--内容开始-->
<style>
    #post_title h2 {
        background: DodgerBlue !important;
        border-radius: 6px 6px 6px 6px !important;
        box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
        color: #FFFFFF;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 17px;
        font-weight: bold;
        line-height: 25px;
        margin: 15px 0 !important;
        padding: 5px 0 5px 20px;
        text-shadow: 2px 2px 3px #222222;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8" id='post_title'>
            <h2>{{ postdetail.title }}</h2>
        </div>
        <div class="col-md-8" id='post_message'>
            {% autoescape off %}
                {{ postdetail.post_detail }}
            {% endautoescape %}
        </div>
        <div class="col-md-4">
            <div class="page-header">
                <h4>Similar Threads</h4>
            </div>
            {% if contact_list %}
                <ul>
                    {% for contact in contact_list %}
                        <li>
                            <a target="_blank"
                               href="{% url 'polls:details' contact.game_name contact.id %}">{{ contact.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<!--内容结束-->
{% include 'footer.html' %}