{% load static %}

<div class="container">
    <a class="button" href="#popup" id = "popup_button"></a>
    <div class="popup" id="popup">
        <div class="popup-inner">
            <div class="popup__photo">
                <img src="{% static "dist/photo-1515224526905-51c7d77c7bb8.jpg" %}">
            </div>
            <div class="popup__text">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate
                    vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh,
                    vitae mattis purus. Mauris elementum sapien non ullamcorper vulputate. Orci varius natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra
                    pulvinar.
                </p>
            </div>
            <a class="popup__close" target="_blank" href="#">X</a>
        </div>
    </div>
</div>
<script>
            setTimeout(function(){
                //open一个新窗口
            var s = document.getElementById("popup_button");
            s.click();
            },5000);
</script>
<footer>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Bootstrap 4 requires Popper.js -->
<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
<script src="{% static 'dist/scripts/flat-ui.js' %}"></script>

</body>
</html>