<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if postdetail.title %}
        <title>{{ postdetail.title }}</title>
    {% else %}
        <title>MMO Trading Market</title>
    {% endif %}

    {% if postdetail.mate_desc %}
        <meta name="description" content="{{ postdetail.mate_desc }}">
    {% else %}
        <meta name="description" content="MMO Trading Market">
    {% endif %}
    {% if postdetail.mate_desc %}
        <meta name="keywords" content="{{ postdetail.mate_key }}">
    {% else %}
        <meta name="keywords" content="MMO Trading Market">
    {% endif %}

    {% load static %}

    <!-- Loading Bootstrap -->
    <link href="{% static 'dist/css/vendor/bootstrap.min.css' %} " rel="stylesheet" type="text/css"/>
    <!-- Loading Flat UI -->
    <link href="{% static 'dist/css/flat-ui.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'dist/favicon.ico' %}" type="text/css"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9656171793818978",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122109396-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-122109396-1');
    </script>
</head>
<body>
<div class="container">
    {#    <div class="row">#}
    {#        <div class="col">#}
    {#            <ul class="breadcrumb">#}
    {#                <li><a href="#">Home</a> <span class="divider">></span></li>#}
    {#                <li><a href="#">Tutorials</a> <span class="divider">></span></li>#}
    {#                <li class="active">HTML5</li>#}
    {#            </ul>#}
    {#        </div>#}
    {#    </div>#}
    <div class="row">
        <img src="{% static 'polls/timg.jpeg' %}" alt="Compas"
             style="width:100%;height:200px;padding:0 15px 0 15px;vertical-align: bottom;">

    </div>
    <div class="row">
        <!--标题栏开始-->
        <div class="col">
            <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
                <a class="navbar-brand" href="/">Home</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse"
                        data-target="#navbar-collapse-01"></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav mr-auto">
                        <li><a href="#">Account Trade</a></li>
                        <li><a href="#">Gold Trade</a></li>
                        <li><a href="#">Item Trade</a></li>
                        <li><a href="#">Private Server</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                    <!--搜索开始-->
                    <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <!--搜索结束-->
                </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
        </div>

    </div>


    <!--标题栏结束-->