{#<script>#}
{#    $(#}
{#            $("#post_message").html(#}
{#                    '<iframe id="trade_details" name="trade_details" class="trade_details"' +#}
{#                    'src="{{ postdetail.url }}"' +#}
{#                    'width="100%"' +#}
{#                    'height="800"' +#}
{#                    'frameborder="0"' +#}
{#                    'marginwidth="0"' +#}
{#                    'marginheight="0"' +#}
{#                    'vspace="0"' +#}
{#                    'hspace="0"' +#}
{#                    'allowtransparency="true"' +#}
{#                    'allowfullscreen="true">' +#}
{#                    '</iframe>'#}
{#            )#}
{#    );#}
{##}
{#</script>#}